<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDevjkup-jeuQkzX9NpMPnWbUILyK6oA_8</string>
	<key>GCM_SENDER_ID</key>
	<string>146337042716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>appproject-7306a</string>
	<key>STORAGE_BUCKET</key>
	<string>appproject-7306a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146337042716:ios:93047fe506f2eb45c86ad9</string>
	<key>DATABASE_URL</key>
	<string>https://appproject-7306a.firebaseio.com</string>
</dict>
</plist>